[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
faker = "*"
sqlalchemy-serializer = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"


[requires]
python_full_version = "3.8.10"